/* 
    Document   : test
    Created on : Oct 16, 2014, 5:21:08 PM
    Author     : Prashant
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

